body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 1rem 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

section {
  background: #f4f4f4;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.header-link {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
}

.header-link:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: #fff;
}

.back-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.back-link:hover {
  text-decoration: underline;
}

.section-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.videos video,
.video-iframe {
  width: 600px; /* Largeur fixe pour les grands écrans */
  height: auto; /* Maintient le ratio d'aspect */
  display: block;
  margin: 1rem auto;
  border-radius: 8px; /* Coins arrondis (facultatif) */
}

@media (max-width: 768px) {
  .videos video,
  .video-iframe {
    width: 95%; /* La vidéo occupe toute la largeur disponible */
    max-width: 100%; /* Ne dépasse pas la largeur du conteneur */
  }
}
